/*
	_content.css
*/
.icm{
	vertical-align: middle;
}
.icon{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.img-icon{
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
}



small{
	font-size: 85%;
}

.hr-style-1{
	height: 2px;
	width: 100%;
	margin-top: 30px;
	position: relative;
	margin-bottom: 30px;
	background-color: $color-1;
	&:before{
		@extend .clafclear;
		width: 40%;
		top: 50%;
		background-color: $color-1;
		height: 6px;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
.link-style-1{
	a{
		color: $color-1;
		font-weight: 600;
		text-transform: uppercase;
		text-shadow: 0 0 3px rgba($color-1, 0.5);
	}
}
.fa-star{
	color: #cfcfcf;
	&.fill{
		color: $color-1;
	}
}
.fa-star-o{
	color: #cfcfcf;
	&.fill, &:hover{
		color: $color-1;
	}
}
.fa-paper-plane{
	font-size: 13px;
}
.fa-facebook{
	font-size: 14px;	
}
.fa-vk{
	font-size: 16px;
	padding-bottom: 2px;
}
.p-v-md{
	@media (min-width: 991px){
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.entry-header{
	p{
		line-height: 170%;
		font-size: em(18);
	}
	b{
		font-weight: 900;
	}

	@media (min-width: 992px) {
		h1{
			position: relative;
		}
	}
}
.h1-style-1{
	h1:not(.no-style){
		&:after{
			@extend .clafclear;
			
			width: 85px;
			height: 2px;
			background-color: $color-1;
			bottom: 0;
			left: 0;
			@media (max-width: 991px){
				display: none;
			}
		}
		@media (min-width: 992px){
			padding-bottom: 20px;
		}
	}
	&.text-center{
		h1:not(.no-style):after{
			left: 50% !important;
			transform: translateX(-50%);
		}
	}
	@media (max-width: 991px) {
		h1{
			&:before{
				display: none;
			}
		}
	}
}
.h2-style-1{
	h2:not(.no-style){
		&:before{
			@extend .clafclear;
			width: 85px;
			height: 2px;
			background-color: $color-1;
			bottom: 0;
			@media (min-width: 992px){
				
			}
			@media (max-width: 991px){
				display: none;
			}
		}
		@media (min-width: 992px){
			padding-bottom: 20px;
		}
	}
	@media (max-width: 991px) {
		h2{
			&:before{
				display: none;
			}
		}
	}
}
.bg-shadow{
	pointer-events: none;
}


figcaption{
	font-weight: 600;
	margin-top: 10px;
	font-size: em(14);
	line-height: 135%;
	margin-bottom: 10px;
	text-transform: uppercase;
}



.bg-about{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('../img/bg/bg-about.jpg');
	background-color: white;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;
	//display: none;
	z-index: -1;
	pointer-events: none;
	//animation: bodyanime 900s linear infinite;
}

.bg-body{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('../img/bg/bg-body.jpg');
	background-color: white;
	background-repeat: repeat-y;
	//display: none;
	z-index: -1;
	pointer-events: none;
	//animation: bodyanime 900s linear infinite;
	background-position: center -100px;
}


.overflow-wrapper{
	overflow: hidden;
	overflow-y: auto;
	position: relative;
}







.parallax-scenes{
	position: absolute;
}


//bnr
.bnr{
	position: relative;
	.bnr-circle{
		position: absolute;
		bottom: -200px;
		transform: translateX(-60%);
		.img{
			width: 537px;
			height: 537px;
			background-size: cover;
		}
	}
	.parallax-scenes{
		width: 100%;
		height: 100%;
		.parallax-scene{
			width: 100%;
			height: 100%;
		}
		.img{
			width: 100%;
			height: 100%;
			&:nth-child(1){
				background-size: auto;
				background-position: center 80%;
			}
			&:nth-child(2){
				background-position: left 100%;
			}
			&:nth-child(3){
				background-position: left center;
			}

		}
	}
	@media (max-width: 991px) {
		.parallax-scenes, .bnr-circle{
			display: none;
		}
	}
}
.bnr-wrapper{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	//height: 1080px;
	height: 100vh;
	.container-fluid-page{
		height: inherit;
	}
	overflow: hidden;
	color: white;
	.logotype{
		margin: 5vh 0;
		img{
			width: 240px;
		}
		@media (min-width: 991px){
			margin-left: -100px;
		}
	}
	.entry-header{
		margin-top: 5vh;
		h1{
			font-size: em(50);
			line-height: 120%;
			font-weight: 800;
			@media (min-width: 1880px){
				font-size: em(70);
			}
		}
		img{
			width: 180px;
		}
	}
	.desc-content{
		position: absolute;
		bottom: 10vh;
		margin-top: 10vh;
		font-weight: 500;
		@media (max-width: 1899px){
			font-size: 0.8em;
			.logo-2{
				img{
					transform: scale(0.8);
				}
			}
		}
		@media (min-width: 991px) {
			p{
				width: 80%;
			}
		}
		.desc-left{
			padding-top: 30px;
			padding-left: 30px;

			&:before{
				@extend .clafclear;
				width: 280px;
				height: 400px;
				top: 0;
				left: 0;
				background-color: $color-1;
			}
			@media (min-width: 1880px){
				p{
					font-size: em(36);
				}
			}
			@media (max-width: 1879px){
				p{
					font-size: em(28);
				}
			}

		}
		.desc-right{
			position: relative;
			&:before{
				@extend .clafclear;
				background-image: url('../img/other/line-1.png');
				background-repeat: no-repeat;
				background-size: contain;
				height: 2px;
				top: 0;
				left: 0;
			}
			h4{
				font-size: em(24);
				margin: 2px;
			}
			h3{
				font-weight: 800;
				font-size: em(36);
				margin: 2px;
			}
			p{
				color: $color-1;
				font-weight: 600;
			}
			.item{
				padding-top: 30px;
				&:after{
					@extend .clafclear;
					background-image: url('../img/other/dot-1.png');
					background-repeat: no-repeat;
					width: 23px;
					height: 23px;
					top: -10px;
					left: 0px;
				}
			}
			@media (min-width: 992px){
				margin-top: 30px;
			}
		}
		.logo-2{
			right: -80px;
			bottom: -65px;
			position: absolute;
		}
	}
	@media (max-width: 991px){
		height: auto;
		padding-top: 20px;
		padding-bottom: 40px;
		font-size: 0.8em;
		.desc-content, .logotype, .bnr-main-img{
			display: none;
		}
		.bnr-feedback{
			position: relative;
			margin-bottom: 60px;
			.flex{
				justify-content: center;
			}
		}
	}
}
.bnr-feedback{
	position: absolute;
	right: 0;
	top: 5vh;
	
	.icon-content{
		.icm{
			width: 35px;
			height: 35px;
			margin-top: 8px;
			display: inline-block;
			align-items: center;
			display: flex;
			font-size: 12px;
			justify-content: center;
			background-color: $color-1;
			border-radius: 50%;
		}
	}
}
.bnr-main-img{
	position: absolute;
	width: 100%;
	.img{
		height: 100vh;
		background-position: center top;
		background-size: 50%;
		
		margin: auto;
	}
}



//about
.about{
	position: relative;
	overflow: hidden;
	&:before{
		@extend .clafclear;
		background-image: url('../img/bg/bg-about.jpg');
		right: 0;
		width: 537px;
		height: 1591px;
		background-repeat: no-repeat;
		@media (max-width: 991px){
			display: none;
		}
	}
}
.about-content{
	padding-top: 15px;
	position: relative;
	float: left;
	overflow: hidden;
	
	@media (min-width: 992px){
		width: 60%;
		width: calc(100% - 460px);
		padding-top: 80px;
		padding-right: 30px;
		padding-bottom: 80px;
	}
	@media (max-width: 991px){
		width: 100%;
	}
}
.about-items{
	display: flex;
	flex-wrap: wrap;

	.boxes-cell-wrapper{
		height: 100%;
		background-color: #f2f2f2;
		min-height: 170px;
		padding: 20px;
	}
	.boxes-cell{
		padding-left: 15px;
		padding-right: 15px;
		width: 50%;
		h2{
			margin-top: 0;
		}
		@media (max-width: 991px){
			width: 100%;
		}
	}
	@media (min-width: 992px){
		margin-left: -15px;
		margin-right: -15px;
	}
}


//advantages
.advantages{
	background-image: url('../img/bg/bg-advantages.jpg');
	background-repeat: no-repeat;
	background-color: white;
	background-size: cover;
	background-position: -300px center;
	position: relative;
	.parallax-scenes{
		position: absolute;
		pointer-events: none;
	}
	.ellipse{
		bottom: -50px;
		left: 40%;
		position: absolute !important;
		img{
			width: 310px;
		}
	}
}
.advantages-content{
	color: white;
	&>div{
		position: relative !important;
	}
	padding-top: 20px;
	padding-bottom: 20px;
	@media (min-width: 991px){
		height: 420px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.advatages-items{
	.bg-icon{
		position: absolute;
		opacity: 0.15;
		pointer-events: none;
		right: -10px;
		bottom: -30px;
		font-size: 165px;
	}
	figure{
		overflow: hidden;
		background-color: $color-1;
		position: relative;
		transition: all 0.3s ease;
		&:hover{
			transform: translateY(-10px);
			background-color: darken($color-1, 2%);
		}
	}
	.fig-wrapper{
		padding: 30px 30px;
		@media (min-width: 1880px){
			padding: 30px 60px;
		}
	}

}




//humans
.humans{
	position: relative;
	@media (max-width: 991px){
		padding-right: 15px;
		padding-left: 15px;
	}
	.sundots-img{
		position: absolute;
		bottom: -480px;
		right: -180px;
	}
	.nav-list{
		display: flex;
		@media (min-width: 991px){
			margin-top: 60px;
		}
		li{
			display: inline-block;
			width: 100%;	
			padding-left: 15px;
			padding-right: 15px;
			text-transform: uppercase;
			font-weight: 600;
			a{
				color: black;
				border: 1px solid $color-1;
				background-color: transparent;
				display: block;
				padding: 20px 15px;
				font-size: 0.95em;
			}
			&.active{
				a{
					color: white;
					background-color: $color-1;
				}
			}
		}
	}
}
.humans-items{
	color: white;
	.fig-wrapper{
		height: 360px;
		//height: 16.6vw;
		@media (max-width: 991px){
			height: auto;
			.img{
				height: 250px;
			}
		}
	}
	*{
		backface-visibility: hidden;
	}
	figure{
		@media (min-width: 992px){
			&:nth-child(6n+4), &:nth-child(6n+5), &:nth-child(6n+6){
				.fig-wrapper{
					flex-direction: row-reverse;
				}
				.desc-content{
					&:after{
						left: auto;
						right: -19px;
					}
				}
			}
		}
		&:hover{
			.img{
				transform: scale(1.05);
			}
		}
	}
	.img{
		height: 100%;
		transition: all 0.4s ease;
		background-size: cover;
		backface-visibility: hidden;
	}
	.desc-content, .img-content{
		@media (min-width: 992px){
			width: 50%;
		}
	}
	.img-content{
		overflow: hidden;
		position: relative;
	}
	.desc-content{
		padding: 10px 30px;
		font-size: 1.2em;
		background-color: $color-1;
		height: 100%;
		position: relative;
		&:after{
			@extend .clafclear;
			background-color: $color-1;
			width: 35px;
			height: 35px;
			left: -19px;
			transform: scaleY(0.45) rotate(45deg);
			@media (max-width: 991px){
				transform: scaleX(0.45) rotate(135deg);
		    left: 48%;
		    left: calc(50% - 10px);
		    width: 20px;
		    height: 20px;
		    top: -10px;
			}
		}
	}
}




//forumlist
.forumlist{
	@media (min-width: 991px){
		margin-top: 80px;
		.btn-def{
			a{
				padding: 25px 70px;
			}
		}
	}
}
.events{
	&:nth-child(1){
		th:nth-child(1){
			background-color: $color-1;
		}
	}
	table{
		thead{
			th{
				@media (max-width: 991px){
					font-size: 1em !important;
					&:nth-child(1){
						width: auto;
					}
				}
			}	
		}
		th{
			font-weight: 500;
			padding-top: 15px;
			padding-bottom: 15px;
			vertical-align: middle;
		}
		th:nth-child(1){
			background-color: black;
			width: 180px;
			color: white;
			font-size: em(24);
			text-align: center;
			big{
				display: block;
				font-weight: 800;
				font-size: em(40);
				line-height: 100%;
			}
			small{
				font-size: 0.8em;
				font-weight: 400;
				display: block;
			}
		}
		th:nth-child(2){
			font-size: em(32);
			font-weight: 700;
			padding-left: 12%;
			position: relative;
			&:before{
				@extend .clafclear;
				width: 15px;
				height: 15px;
				background-color: $color-1;
				border-radius: 50%;
				left: 8%;
				top: 50%;
				transform: translateY(-7.5px)
			}
		}
		tbody{
			tr{
				&:nth-child(1){
					td{
						padding-top: 25px;
					}
					&~tr{
						&:hover{
							background-color: rgba($color-1, 0.05);
						}
					}
				}
				td{
					padding: 12px 15px;
					&:nth-child(1){
						text-align: center;
						background-color: #ececec;
					}
				}
			}
		}
	}
}



//supported
.supported{
	background-color: #f7f7f7;
}
.supported-items{
	figure{
		*{
			backface-visibility: hidden;
		}
		.img-content{
			background-color: white;
			padding: 40px 40px;
			
			transition: all 0.3s ease;
			.img{
				background-size: contain;
				height: 150px;
			}
			@media (max-width: 991px){
				padding: 10px 10px;
			}
		}
		&:hover{
			.img-content{
				@extend .shadow-box-1;
			}
		}
	}
}


//partners
.partners-items{
	figure{
		*{
			backface-visibility: hidden;
		}
		.img-content{
			background-color: white;
			padding: 15px 30px;
			@extend .shadow-box-1;
			.img{
				background-size: contain;
				height: 140px;
				transition: all 0.3s ease;
			}
		}
		&:hover{
			.img{
				transform: scale(1.05);
			}
		}
	}
	@media (max-width: 991px){
		padding-left: 15px;
		padding-right: 15px;
	}
}